.container {
  background-color: transparent;
  display: flex;
  padding: 0.7rem 0.9rem;
  border-radius: 0.5rem;
  border: 1px solid var(--secondary-border-color);
  > input {
    background-color: transparent;
    border: 0;
    color: var(--negative-text-color);
    font-family: 'Poppins';
    width: 100%;
    outline: none;
    font-size: 1rem;
    margin-left: 0.4rem;
  }
}
