:root {
  --main-bg-color: #88246c;
  --negative-bg-color: #1a191a;
  --alternative-bg-color: #2f2e2e;
  --secondary-bg-color: #484847;
  --main-text-color: #cfcfcf;
  --alternative-text-color: #c4619e;
  --negative-text-color: #fdfbfb;
  --secondary-text-color: #d6d1d1;
  --main-border-color: #d6d1d1;
  --alternative-border-color: #c4619e;
  --secondary-border-color: #3e4446;
  --negative-border-color: #ffffff;
}

body {
  margin: 0;
  font-family: Poppins;
  color: var(--negative-text-color);
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body,
#root {
  height: 100%;
  background-color: var(--negative-bg-color);
}

#root {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'Poppins';

  src: url('assets/fonts/Poppins-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins-ExtraLight.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins-SemiBold.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins-ExtraBold.ttf');
  font-weight: 900;
}
